body {
  background-color: rgb(16, 20, 2);
}

/* /* .bg-success {
  background-color: #090b09 !important;
} */
.test{
    text-align: center;
   
}

.myTest{
    color: rgba(0, 0, 0, 0.375);
}
.customT{
    background-color: #090b09;
}